#title-block-header {
  padding: unset;
  margin-top: unset;
  min-height: unset;
  background: unset;
}

img.preview {
    margin-left: 10rem;
}

img.flex-icon {
  max-width: 150px;
  margin: 10px;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
