.author {
    /* font-weight: 777; */
}
/* date field (3rd % line) 
 * is only used as teaser text */

.date {
    display: none;
}

figcaption {
    float: unset;
    clear: unset;
    font-size: 3rem;
    margin-top: -4rem;
    margin-bottom: -2rem;
    margin-left: 2rem;
    max-width: unset;
    color: beige;
  }

#title-block-header {
  display: grid;
  align-content: end;
  padding: 1rem;
  margin-top: 10rem;
  min-height: 10rem;
  background: #fff8;
}

img.banner {
  min-width: 600px;
  max-width: 1000px;
  width: 100vw;
  padding: unset;
  border-radius: unset;
  filter: unset;
  position: absolute;
  left: 0px;
  z-index: -1;
  top: 9rem;
}

img.icon {
  max-width: 80vw;
  float: unset;
  margin: unset;
  padding: unset;
  border-radius: unset;
  filter: unset;
}

img.big {
  width: 80vw;
  border-color: gray;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
}
